openapi: 3.1.0
info:
  title: Notyfi account trackers API
  version: 1.2.0
  description: 'Track anything in a sentence and get notified the moment it happens -- by email, REST API, or MCP. Authenticate every request with a Notyfi API key (`Authorization: Bearer notyfi_mk_...`). Manage keys in your dashboard.'
servers:
- url: https://api.notyfi.com
security:
- bearerAuth: []
- apiKeyAuth: []
tags:
- name: trackers
paths:
  /api/v1/trackers:
    post:
      tags:
      - trackers
      summary: Create a Notyfi tracker
      description: Product-named alias of feed-request creation; returns the canonical ``public_id``.
      operationId: create_tracker_api_v1_trackers_post
      parameters:
      - name: X-Notyfi-ID-Token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Notyfi-Id-Token
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Idempotency-Key
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedRequestCreate'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequest'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Principal request limit or rolling tracker-creation limit; honour Retry-After.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The API key lacks the feeds:write capability required for tracker mutations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: The requested delivery cadence requires Pro.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Active tracker plan limit, verified-account requirement, or Idempotency-Key body conflict.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Invalid body, cadence, or Idempotency-Key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - trackers
      summary: List the caller's Notyfi trackers
      operationId: list_trackers_api_v1_trackers_get
      parameters:
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeedRequest'
                title: Response List Trackers Api V1 Trackers Get
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/trackers/{public_id}:
    get:
      tags:
      - trackers
      summary: Get one tracker by opaque public id
      operationId: get_tracker_api_v1_trackers__public_id__get
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequest'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: The owned tracker was soft-deleted (code 'feed_deleted').
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
      - trackers
      summary: Archive a tracker by opaque public id
      operationId: archive_tracker_api_v1_trackers__public_id__delete
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequest'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The API key lacks the feeds:write capability required for tracker mutations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Illegal lifecycle transition -- ratify/decline is only legal while the request is in state 'spec_ready'.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/trackers/{public_id}/progress:
    get:
      tags:
      - trackers
      summary: Get tracker research/build progress by opaque public id
      operationId: get_tracker_progress_api_v1_trackers__public_id__progress_get
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequestProgress'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: The owned tracker was soft-deleted (code 'feed_deleted').
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/trackers/{public_id}/events:
    get:
      tags:
      - trackers
      summary: List a live tracker's canonical events by opaque public id
      operationId: list_tracker_events_api_v1_trackers__public_id__events_get
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          default: 50
          title: Limit
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Cursor
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_FeedEvent_'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: The owned tracker was soft-deleted (code 'feed_deleted').
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/trackers/{public_id}/delivery:
    patch:
      tags:
      - trackers
      summary: Update tracker delivery by opaque public id
      operationId: update_tracker_delivery_api_v1_trackers__public_id__delivery_patch
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: X-Notyfi-ID-Token
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Notyfi-Id-Token
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedDeliveryUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequest'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The API key lacks the feeds:write capability required for tracker mutations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: The owned tracker was soft-deleted (code 'feed_deleted').
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '402':
          description: Cadence requires Pro.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Verified account email is required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/trackers/{public_id}/retry:
    post:
      tags:
      - trackers
      summary: Retry a stalled tracker by opaque public id
      operationId: retry_tracker_api_v1_trackers__public_id__retry_post
      parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^fr_[A-Za-z0-9_-]{22}$
          description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
          title: Public Id
        description: Opaque tracker id returned by create/list (not the internal database id or feed slug).
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Authorization
      - name: x-api-key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: X-Api-Key
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedRequest'
        '401':
          description: Missing or invalid credentials (auth enabled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded (per-principal fixed window). Honour the Retry-After + X-RateLimit-* headers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The API key lacks the feeds:write capability required for tracker mutations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Feed request not found (or owned by another tenant).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: The owned tracker was soft-deleted (code 'feed_deleted').
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Not retryable -- the request is not in state 'researching'/'building', or its run still looks ACTIVE (recent activity on the staleness clock; retry unlocks after inactivity).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: The retry was accepted but the dispatch queue is unconfigured/unavailable -- nothing was re-queued (code 'dispatch_unavailable'); try again shortly.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    FeedProgressEntry:
      properties:
        ts:
          anyOf:
          - type: string
          - type: 'null'
          title: Ts
          description: ISO-8601 UTC stamp when the line was appended.
        line:
          type: string
          title: Line
          description: The human-readable progress line.
      type: object
      required:
      - line
      title: FeedProgressEntry
      description: 'One legible line in a feed request''s LIVE research trail (append-only): a UTC timestamp + the

        human-readable line (''probed <url> -> socrata 5 rows OK'', ''excluded <url>: robots'', ''dry-run:

        extracted N in-scope'', ''spec_ready: slug=... -> attached'').'
    TimestampsBlock:
      properties:
        occurred_at:
          type: string
          title: Occurred At
          description: The event-time field (REQUIRED).
        as_of:
          anyOf:
          - type: string
          - type: 'null'
          title: As Of
          description: The revision-time field (evolving events); null = none.
        order_by:
          anyOf:
          - type: string
          - type: 'null'
          title: Order By
          description: The feed-ordering field; null = occurred_at (the default).
      additionalProperties: false
      type: object
      required:
      - occurred_at
      title: TimestampsBlock
      description: The feed's timestamp roles. All three name datetime-typed fields in ``fields``.
    FeedRequestState:
      type: string
      enum:
      - submitted
      - researching
      - spec_ready
      - ratified
      - declined
      - refused
      - building
      - live
      - archived
      - quarantined
      title: FeedRequestState
      description: 'Where a feed request is in its lifecycle. USER-visible: submitted -> researching ->

        spec_ready -> {ratified, declined} -> building -> live; ``refused`` is the honest-refusal

        outcome (research found no adequate source backbone -- the Coverage Report says why);

        ``archived`` is the SOFT DELETE ("REMOVE FROM WORKSPACE") that stops serving/polling but KEEPS all

        the feed''s work and RESERVES its slug. Any visible state can be archived; archived is terminal.

        ``quarantined`` is the CONTENT-POLICY hold: a create whose query trips moderation is recorded here

        instead of researched/served (``refusal_reason`` carries the policy message); reversible to

        archived (purge) or submitted (release a false positive).'
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    FeedScope:
      properties:
        event_definition:
          type: string
          minLength: 1
          title: Event Definition
          description: The ratified one-paragraph definition of what counts as an event.
        acceptance_examples:
          items:
            $ref: '#/components/schemas/AcceptanceExample'
          type: array
          title: Acceptance Examples
          description: In/out scope examples (~20 at ratification) -- the boundary, made testable.
        geography:
          anyOf:
          - type: string
          - type: 'null'
          title: Geography
          description: Geographic/filter bound (ZIPs, borough/block ranges, ...); null = unbounded.
        freshness_expectation:
          anyOf:
          - type: string
          - type: 'null'
          title: Freshness Expectation
          description: The user's freshness expectation in plain words ('daily', 'within a week').
      additionalProperties: false
      type: object
      required:
      - event_definition
      title: FeedScope
      description: 'The ratified scope: what an EVENT is, the in/out examples, and the geographic/freshness bounds.'
    WriteMode:
      type: string
      enum:
      - upsert
      - append
      title: WriteMode
    Error:
      properties:
        error:
          $ref: '#/components/schemas/ErrorBody'
      type: object
      required:
      - error
      title: Error
      description: The single error response shape for every 4xx/5xx on the contract.
      example:
        error:
          code: not_found
          message: lead not found
    LifecycleBlock:
      properties:
        status_field:
          type: string
          title: Status Field
          description: The status field name (must exist in fields).
        terminal_states:
          items:
            type: string
          type: array
          minItems: 1
          title: Terminal States
          description: Status values that mean the event is finished.
      additionalProperties: false
      type: object
      required:
      - status_field
      - terminal_states
      title: LifecycleBlock
      description: 'End-state declaration: when status_field lands in terminal_states the event is finished.'
    EntityRole:
      type: string
      enum:
      - subject
      - counterparty
      - intermediary
      - successor
      title: EntityRole
      description: Semantic entity typing for role='entity' fields (acquirer/target, buyer/seller, ...).
    BillingCadence:
      type: string
      enum:
      - instant
      - hourly
      - daily
      - weekly
      title: BillingCadence
    FeedMonitorState:
      properties:
        current_value:
          anyOf:
          - type: string
          - type: 'null'
          title: Current Value
          description: The most recent reading the observe fetch saw (single-value kinds; canonical string form).
        observed_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Observed At
          description: When that reading was taken (ISO-8601 UTC).
        checked_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Checked At
          description: When the feed last checked its source, successful or not (ISO-8601 UTC).
      type: object
      title: FeedMonitorState
      description: 'The LIVE MONITOR READ for an observe feed (feed_monitor_state, 2026-07-19): the

        current value the last check saw + when it was seen + when the feed last checked at

        all. Deliberately OUTSIDE the event/revision pipeline (a quiet check advances

        checked_at without revising anything), so the monitor card can show ''Current Value''

        and ''Last checked'' truthfully. Detail reads only; null for non-observe feeds and

        feeds that have not ticked since the state table shipped.'
    Page_FeedEvent_:
      properties:
        items:
          items:
            $ref: '#/components/schemas/FeedEvent'
          type: array
          title: Items
          description: The page of results.
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
          description: Opaque cursor for the next page; null at end.
        total:
          type: integer
          title: Total
          description: Count of items in this response (approximate).
          default: 0
      type: object
      title: Page[FeedEvent]
      example:
        items: []
        total: 0
    EnginePin:
      properties:
        version:
          type: string
          title: Version
          description: Registry name of the pinned engine ('legacy', 'opus-tuned', ...) -- validated against crawler.engines.ENGINES.
        config_version:
          type: integer
          minimum: 1.0
          title: Config Version
          description: 'The engine''s config_version at pin time (provenance: which tuning of the recipe produced this feed''s current state).'
          default: 1
        overrides:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Overrides
          description: 'Per-feed engine overrides, validated against the PINNED engine''s declared lever set (search engines: model, web_search_tool, max_uses, max_tokens, max_turns, backfill_days, prompt_addendum; watch-observe declares its own observe-shaped set). null = the engine''s registry defaults.'
      additionalProperties: false
      type: object
      required:
      - version
      title: EnginePin
      description: 'Which acquisition-engine recipe runs this feed''s search stage, pinned per feed.


        The pin is what makes engine rollouts safe: a spec without one (everything compiled

        before the registry) resolves to the FROZEN legacy recipe, so shipping a new image never

        moves an existing feed. ``overrides`` is the per-feed manual-augmentation surface --

        keys AND value coercibility are validated against the PINNED ENGINE''s declared lever set

        (``Engine.override_keys``; config shapes differ per engine) so a typo''d augmentation

        fails at attach-spec, never silently at run time.'
    FieldType:
      type: string
      enum:
      - string
      - number
      - integer
      - boolean
      - datetime
      - enum
      - url
      - string_list
      - number_list
      - entity_list
      title: FieldType
      description: The closed value-type vocabulary of a schema field.
    ErrorBody:
      properties:
        code:
          type: string
          title: Code
          description: Stable machine-readable error code.
        message:
          type: string
          title: Message
          description: Human-readable detail.
        request_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Request Id
          description: Correlation id, when available.
      type: object
      required:
      - code
      - message
      title: ErrorBody
    SourceFormat:
      type: string
      enum:
      - rss
      - api
      - socrata
      - csv
      - search
      - observe
      - html
      title: SourceFormat
      description: 'How a source is fetched/parsed. rss/api/socrata/csv/search/observe are MACHINE-READABLE

        (v0-includable catalog rows, zero codegen; an observe source is a FROZEN compile-time

        target in config[''observe''], fetched by the pinned watch-observe engine); html is not

        (v1 scraper codegen).'
    AcceptanceExample:
      properties:
        text:
          type: string
          minLength: 1
          title: Text
          description: A concrete candidate item, in plain words.
        included:
          type: boolean
          title: Included
          description: True = inside the ratified scope; False = explicitly out.
      additionalProperties: false
      type: object
      required:
      - text
      - included
      title: AcceptanceExample
      description: 'One in/out scope example: a concrete candidate item + whether the ratified scope includes it.

        The ~20 of these ARE the executable definition of the feed''s boundary (the scope gate''s test set).'
    UncertaintyBias:
      type: string
      enum:
      - under-merge
      - over-merge
      title: UncertaintyBias
      description: 'The DECLARED dedup cost asymmetry the adjudication prompts encode (documentation that is

        load-bearing in prompt TEXT, never branched on -- mirrors IdentityPattern.uncertainty_bias).'
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    FeedDeliveryUpdate:
      properties:
        cadence:
          anyOf:
          - $ref: '#/components/schemas/BillingCadence'
          - type: 'null'
        email_enabled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Email Enabled
      additionalProperties: false
      type: object
      title: FeedDeliveryUpdate
      description: Owner-scoped notification preference patch for one tracker.
    EventSchema:
      properties:
        fields:
          items:
            $ref: '#/components/schemas/SchemaField'
          type: array
          minItems: 1
          title: Fields
          description: The declared output fields.
        identity_fields:
          items:
            type: string
          type: array
          title: Identity Fields
          description: Preferred semantic dedup key (field names, order significant). Fields may be optional when source records are incomplete; the runtime falls back to the stable source envelope (source_key + external_id) whenever any identity value is absent. An empty list explicitly selects source-envelope identity for feeds with no credible semantic key, preserving events without guessing/over-merging.
        group_field:
          anyOf:
          - type: string
          - type: 'null'
          title: Group Field
          description: The coarser story/thread key (declared + stored; UI later).
        write_mode:
          $ref: '#/components/schemas/WriteMode'
          description: 'upsert (default): same identity re-observed = a versioned update; append: every record is a new row (the legacy behavior).'
          default: upsert
        timestamps:
          $ref: '#/components/schemas/TimestampsBlock'
          description: The timestamp roles (occurred_at REQUIRED).
        lifecycle:
          anyOf:
          - $ref: '#/components/schemas/LifecycleBlock'
          - type: 'null'
          description: End-state declaration; null = the feed has no terminal states.
        title_templates:
          items:
            type: string
          type: array
          minItems: 1
          title: Title Templates
          description: Ordered null-tolerant fallbacks; first template whose {field} references are all non-null wins; list fields render 'lead +N others'.
      additionalProperties: false
      type: object
      required:
      - fields
      - identity_fields
      - timestamps
      - title_templates
      title: EventSchema
      description: 'The per-feed extraction OUTPUT CONTRACT (design v1 §3): the declared fields, the identity

        key, the timestamp roles, the write mode, and the ordered null-tolerant title templates. A

        minimal schema is fields + identity_fields + timestamps.occurred_at + title_templates.'
    FeedRunStats:
      properties:
        mode:
          anyOf:
          - type: string
          - type: 'null'
          title: Mode
          description: '''backfill'' | ''tick''.'
        started_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Started At
        finished_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Finished At
        items_fetched:
          type: integer
          title: Items Fetched
          default: 0
        extracted:
          type: integer
          title: Extracted
          default: 0
        unable:
          type: integer
          title: Unable
          default: 0
        out_of_scope:
          type: integer
          title: Out Of Scope
          default: 0
        parse_errors:
          type: integer
          title: Parse Errors
          default: 0
        dedup_new:
          type: integer
          title: Dedup New
          default: 0
        dedup_merged:
          type: integer
          title: Dedup Merged
          default: 0
        budget_hit:
          type: boolean
          title: Budget Hit
          default: false
        budget_note:
          anyOf:
          - type: string
          - type: 'null'
          title: Budget Note
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: '''ok'' | ''budget_stopped'' | ''error''.'
      type: object
      title: FeedRunStats
      description: 'The latest ``feed_runs`` ledger row for a building/live feed (the build ticker the frontend

        renders): the fetch/extract/dedup counts + the run status. Read from the ISOLATED feeds DB, keyed

        by ``request_id``. All counts default 0 (a run that fetched nothing still has a row).'
    SourceTier:
      type: string
      enum:
      - T1
      - T2
      - T3
      - T4
      title: SourceTier
      description: Source truth tier (T1 = authoritative/primary ... T4 = weakest corroboration).
    FeedRequestCreate:
      properties:
        query:
          type: string
          maxLength: 500
          minLength: 8
          title: Query
          description: The natural-language feed request ('Track everything happening to UES luxury co-ops').
        scope_answers:
          $ref: '#/components/schemas/FeedScopeAnswers'
          description: The 3-answer scoping form (event definition / geography / freshness).
        cadence:
          $ref: '#/components/schemas/BillingCadence'
          description: Notification cadence. When omitted, legacy scope_answers.freshness is still honored; otherwise daily is the default.
          default: daily
        email_enabled:
          type: boolean
          title: Email Enabled
          description: Whether this tracker should deliver to the account's verified email.
          default: true
      additionalProperties: false
      type: object
      required:
      - query
      title: FeedRequestCreate
      description: 'The intake body: the NL query (8..500 chars) + the scoping answers. Submitting creates a

        request in state ``submitted``; everything after that is the concierge loop + the ratify gate.'
      example:
        cadence: daily
        email_enabled: true
        query: Track everything happening to luxury co-op buildings on the Upper East Side
        scope_answers:
          event_definition: Recorded transactions, permits, violations, and press on tracked buildings
          freshness: daily
          geography: ZIPs 10021/10028/10065/10075/10128
    SchemaField:
      properties:
        name:
          type: string
          pattern: ^[a-z][a-z0-9_]*$
          title: Name
          description: snake_case field name.
        type:
          $ref: '#/components/schemas/FieldType'
          description: Value type (closed vocabulary).
        required:
          type: boolean
          title: Required
          description: True = every in-scope record must carry it; a null required field is 'unable'. Fields selected in identity_fields are preferred semantic identity hints and are canonicalized to optional because the engine has a source-envelope fallback.
          default: false
        role:
          $ref: '#/components/schemas/FieldRole'
          description: Advisory semantic role (rendering hint).
          default: detail
        entity_role:
          anyOf:
          - $ref: '#/components/schemas/EntityRole'
          - type: 'null'
          description: Entity typing (role='entity' fields only).
        enum_values:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Enum Values
          description: Enum vocabulary (type='enum' only).
        enum_open:
          type: boolean
          title: Enum Open
          description: True = enum_values are suggested, not exhaustive.
          default: false
        unit:
          anyOf:
          - type: string
          - type: 'null'
          title: Unit
          description: Unit label (USD, km, kt, mb).
        display_of:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Of
          description: This field is the as-reported display twin of a canonical field.
        primary:
          type: boolean
          title: Primary
          description: THE ranking/filter quantifier (max one per schema).
          default: false
        derived:
          type: boolean
          title: Derived
          description: LLM-synthesized from prose, not source-mapped (honesty flag).
          default: false
        description:
          type: string
          minLength: 1
          title: Description
          description: What to extract -- doubles as the extractor prompt line.
      additionalProperties: false
      type: object
      required:
      - name
      - type
      - description
      title: SchemaField
      description: 'One declared output field. ``description`` is REQUIRED -- it doubles as the extraction

        prompt line, so it must say what to extract AND any source normalization (''epoch-ms -> ISO'').'
    SourceStatus:
      type: string
      enum:
      - include
      - needs_adapter
      - needs_partnership
      - structurally_invisible
      - excluded
      title: SourceStatus
      description: 'A researched source''s disposition on the Coverage Report. ``include`` = a live v0 catalog

        row; the rest are the HONEST exclusions (refusal-grade transparency, not silence).'
    SpecSource:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: Human label ('ACRIS Master', 'DOB NOW').
        url:
          type: string
          minLength: 1
          title: Url
          description: The probed endpoint/page URL.
        format:
          $ref: '#/components/schemas/SourceFormat'
          description: Fetch/parse format; rss/api/socrata/csv/search are v0-includable.
        tier:
          $ref: '#/components/schemas/SourceTier'
          description: Truth tier (T1 authoritative ... T4 weakest).
        cadence_seconds:
          anyOf:
          - type: integer
            minimum: 1.0
          - type: 'null'
          title: Cadence Seconds
          description: Poll cadence in seconds (null until scheduled).
        tos_posture:
          anyOf:
          - type: string
          - type: 'null'
          title: Tos Posture
          description: Terms-of-service posture in plain words ('open-data', 'ToS-hostile').
        status:
          $ref: '#/components/schemas/SourceStatus'
          description: 'v0 disposition: include, or the honest exclusion reason class.'
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Free-text detail (lag declarations, adapter notes).
        config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Config
          description: Per-source adapter knobs -- the runtime compile-target slot (SoQL $where geography scoping, order, id_field/date_field/title_field/url_field, list_path, limit, min_interval_s; plus 'auth' = {key_ref, param|header} = a REFERENCE to a registered research key resolved from the atlas/research-keys vault + injected at fetch time -- the raw key is NEVER stored in the spec). Passed verbatim to the format adapter (crawler.feed_fetch); null = defaults.
      additionalProperties: false
      type: object
      required:
      - name
      - url
      - format
      - tier
      - status
      title: SpecSource
      description: 'One researched source as a catalog row: where it is, how it reads, its truth tier, and its

        v0 disposition. Every non-include row carries WHY (the Coverage Report''s honesty).'
    DedupPolicy:
      properties:
        identity_pattern:
          type: string
          title: Identity Pattern
          description: The registry pattern the sequential dedup lane runs (must match the registry).
        adjudication_prompt_skeleton:
          type: string
          minLength: 1
          title: Adjudication Prompt Skeleton
          description: The same-X judge prompt skeleton (e.g. same-TRANSACTION iff same BBL +/-30d +/-5%).
        uncertainty_bias:
          $ref: '#/components/schemas/UncertaintyBias'
          description: The declared merge cost asymmetry ('under-merge' | 'over-merge').
        notes:
          anyOf:
          - type: string
          - type: 'null'
          title: Notes
          description: Hard cases / eval-pair notes.
      additionalProperties: false
      type: object
      required:
      - identity_pattern
      - adjudication_prompt_skeleton
      - uncertainty_bias
      title: DedupPolicy
      description: 'The feed''s dedup identity model, declared: the keyer pattern, the same-X adjudication prompt

        skeleton (agents fill parameters, never invent identity theory), and the EXPLICIT cost-asymmetry

        declaration the prompts encode.'
    FeedRequest:
      properties:
        id:
          type: integer
          title: Id
        public_id:
          type: string
          title: Public Id
          description: Stable opaque tracker identity for dashboard state and canonical tracker routes.
        state:
          $ref: '#/components/schemas/FeedRequestState'
        query:
          type: string
          title: Query
        scope_answers:
          $ref: '#/components/schemas/FeedScopeAnswers'
        spec:
          anyOf:
          - $ref: '#/components/schemas/FeedSpec'
          - type: 'null'
          description: The compiled, validated FeedSpec (null until spec_ready).
        coverage_report:
          anyOf:
          - type: string
          - type: 'null'
          title: Coverage Report
          description: The research Coverage Report (markdown; spec_ready / refused).
        refusal_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Refusal Reason
          description: Why research refused (state='refused' only).
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated At
        ratified_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Ratified At
        cadence:
          $ref: '#/components/schemas/BillingCadence'
          default: daily
        email_enabled:
          type: boolean
          title: Email Enabled
          default: true
        owner_email:
          anyOf:
          - type: string
          - type: 'null'
          title: Owner Email
          description: Feed owner's account email. Populated on operator/admin reads only; always null on tenant-scoped reads.
        owner_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Owner Name
          description: Feed owner's display name (profile display_name, tenants.name fallback). Operator/admin reads only; always null on tenant-scoped reads.
        owner_plan:
          anyOf:
          - type: string
          - type: 'null'
          title: Owner Plan
          description: Feed owner's effective billing plan (free | pro | enterprise) — pro/enterprise are paying. Operator/admin reads only; always null on tenant-scoped reads.
        owner_active_count:
          anyOf:
          - type: integer
          - type: 'null'
          title: Owner Active Count
          description: How many active trackers the owner's tenant has (their active-prompt count). Operator/admin reads only; always null on tenant-scoped reads.
        monitor:
          anyOf:
          - $ref: '#/components/schemas/FeedMonitorState'
          - type: 'null'
          description: Live monitor state for OBSERVE feeds (current value + last check). Populated on tracker DETAIL reads only; null for search feeds, list reads, and feeds that have not checked yet.
      type: object
      required:
      - id
      - public_id
      - state
      - query
      title: FeedRequest
      description: 'A tenant-owned feed request (the read shape). ``spec`` is the compiled

        :class:`~crawler.feedspec.FeedSpec` -- null until the concierge attaches it (state

        ``spec_ready``); ``coverage_report`` rides spec_ready AND refused (refusal is a first-class

        outcome: the user gets the report, never a junk feed); ``ratified_at`` is stamped once, at

        ratification.'
      example:
        cadence: daily
        created_at: '2026-07-07T00:00:00+00:00'
        email_enabled: true
        id: 1
        public_id: fr_IJgweY3bGsTgZARQMpSzwA
        query: Track everything happening to luxury co-op buildings on the Upper East Side
        scope_answers:
          event_definition: Recorded transactions and permits
          freshness: daily
          geography: UES ZIPs
        state: submitted
        updated_at: '2026-07-07T00:00:00+00:00'
    FeedOntology:
      properties:
        entity_types:
          items:
            type: string
          type: array
          minItems: 1
          title: Entity Types
          description: Entity types the feed resolves ('building', 'organization').
        identity_pattern:
          type: string
          title: Identity Pattern
          description: 'The seeded identity-pattern registry key (''org-event'' | ''place-asset'' | ''schema-event'' | ''search-event'') -- validated against crawler.identity_patterns (constrained library, decision #5).'
        event_types:
          items:
            type: string
          type: array
          minItems: 1
          title: Event Types
          description: Typed event kinds the feed emits ('transaction', 'permit').
        predicates:
          items:
            type: string
          type: array
          title: Predicates
          description: Fact predicates extracted per event ('sale_price', ...).
      additionalProperties: false
      type: object
      required:
      - entity_types
      - identity_pattern
      - event_types
      title: FeedOntology
      description: The feed's entity/event vocabulary + the identity pattern that keys its entities.
    FeedEvent:
      properties:
        id:
          type: integer
          title: Id
        feed_slug:
          type: string
          title: Feed Slug
        revision:
          type: string
          title: Revision
        canonical_key:
          anyOf:
          - type: string
          - type: 'null'
          title: Canonical Key
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
        occurred_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Occurred At
        attributes:
          additionalProperties: true
          type: object
          title: Attributes
        status:
          type: string
          title: Status
          default: open
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Created At
        updated_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Updated At
        sources:
          items:
            $ref: '#/components/schemas/FeedEventSource'
          type: array
          title: Sources
      type: object
      required:
      - id
      - feed_slug
      - revision
      title: FeedEvent
      description: 'The current OPEN head of one deduplicated feed event.


        ``id`` is the stable canonical event id. ``revision`` hashes the exact event-and-evidence

        snapshot used by feed notifications, so dashboard, email, REST, and later MCP consumers can

        identify the same immutable revision without treating individual observations as separate cards.'
      example:
        attributes:
          recall_number: D-0001-2026
        canonical_key: recall-ndc-0001
        created_at: '2026-07-11T18:00:00+00:00'
        feed_slug: fda-drug-recalls
        id: 42
        occurred_at: '2026-07-11'
        revision: 4e9f3bc1a0b5a1f4a7343d0a5fcd9d0f0dd5e12d9b59ed0d636f7e56e8a8146c
        sources:
        - content_hash: sha256:example
          external_id: D-0001-2026
          ingested_at: '2026-07-12T08:29:00+00:00'
          observation_id: 88
          reported_at: '2026-07-11'
          source_key: fda-enforcement-api
          title: Enforcement report
          url: https://www.fda.gov/example
        status: open
        summary: A voluntary recall was announced for one affected lot.
        title: Manufacturer recalls one lot of Example Tablets
        updated_at: '2026-07-12T08:30:00+00:00'
    FeedSpec:
      properties:
        slug:
          type: string
          pattern: ^[a-z0-9]+(-[a-z0-9]+)*$
          title: Slug
          description: Kebab-case feed identifier ('ues-luxury-coops') -- lowercase alphanumerics + hyphens.
        version:
          type: integer
          minimum: 1.0
          title: Version
          description: Spec version (bumped on every ratified change).
        query:
          type: string
          minLength: 1
          title: Query
          description: The original NL query this spec compiles.
        scope:
          $ref: '#/components/schemas/FeedScope'
          description: The ratified scope (event definition + acceptance examples).
        sources:
          items:
            $ref: '#/components/schemas/SpecSource'
          type: array
          title: Sources
          description: The researched source catalog rows (include + the honest exclusions).
        ontology:
          $ref: '#/components/schemas/FeedOntology'
          description: Entity/event vocabulary + the identity pattern.
        dedup_policy:
          $ref: '#/components/schemas/DedupPolicy'
          description: The declared dedup identity model.
        event_schema:
          anyOf:
          - $ref: '#/components/schemas/EventSchema'
          - type: 'null'
          description: The per-feed extraction output contract (fields + identity + timestamps + title templates). null = the legacy pattern-shaped extraction path.
        truth_map:
          additionalProperties:
            type: string
          type: object
          title: Truth Map
          description: source -> truth tier/status map ('acris' -> 'authoritative', 'press' -> 'reported').
        cost_band:
          anyOf:
          - type: string
          - type: 'null'
          title: Cost Band
          description: The quoted cost band ('~$100-300 backfill; low tens $/mo').
        budget:
          anyOf:
          - $ref: '#/components/schemas/FeedBudget'
          - type: 'null'
          description: The machine-readable per-run hard caps the runtime enforces (items fetched + LLM calls). null = the FeedBudget defaults -- a run is ALWAYS capped.
        title:
          anyOf:
          - type: string
            maxLength: 80
          - type: 'null'
          title: Title
          description: Short DISPLAY name for the feed (2-6 words, Title Case, no imperative -- 'Upper East Side Luxury Co-ops', 'Train Crashes Around the World'). Authored by research from the query; the UI shows it on cards/headings with the raw query as subtext. null (legacy specs) -> the UI derives a fallback from the query.
        engine:
          anyOf:
          - $ref: '#/components/schemas/EnginePin'
          - type: 'null'
          description: Per-feed acquisition-engine pin (version + config_version + declared overrides). null = the frozen legacy recipe, so specs compiled before the engine registry stay byte-for-byte static across image rolls; newly compiled search monitors are stamped explicitly (crawler.engines.default_feed_engine).
        sentinel:
          type: boolean
          title: Sentinel
          description: 'ARMED WATCHDOG (sentinel feeds): True = this feed is allowed to go LIVE EMPTY. Set by create-a-feed research ONLY when the dry-run proved the pipeline end-to-end (real rows reached the extractor and were classified out-of-scope / unable) but found 0 in-scope events -- expected for a feed over rare events. feed_runner flips such a feed building->live with 0 banked events; a non-sentinel feed still requires >=1 banked event to go live. Never set by the model; defaults False so every existing spec is unaffected.'
          default: false
      additionalProperties: false
      type: object
      required:
      - slug
      - version
      - query
      - scope
      - ontology
      - dedup_policy
      title: FeedSpec
      description: 'The canonical, versioned create-a-feed artifact: everything the generic engine needs to run

        one feed, and everything the partner ratifies. A feed IS its spec.'
      example:
        cost_band: ~$100-300 backfill; low tens $/mo run cost
        dedup_policy:
          adjudication_prompt_skeleton: Same TRANSACTION iff same BBL, dates within 30d, amounts within 5%; cross-type records LINK, never merge.
          identity_pattern: place-asset
          uncertainty_bias: under-merge
        ontology:
          entity_types:
          - building
          event_types:
          - transaction
          - permit
          identity_pattern: place-asset
          predicates:
          - sale_price
          - recorded_date
        query: Track everything happening to luxury co-op buildings on the Upper East Side
        scope:
          acceptance_examples:
          - included: true
            text: ACRIS deed recorded for 740 Park Ave
          - included: false
            text: A Brooklyn condo flip
          event_definition: A recorded transaction, permit, or violation on a tracked UES luxury co-op building.
          freshness_expectation: daily
          geography: ZIPs 10021/10028/10065/10075/10128
        slug: ues-luxury-coops
        sources:
        - cadence_seconds: 86400
          format: socrata
          name: ACRIS Master
          status: include
          tier: T1
          tos_posture: open-data
          url: https://data.cityofnewyork.us/resource/bnx9-e6tj.json
        - format: html
          name: Olshan Luxury Report
          note: PDF -- adapter is v1
          status: needs_adapter
          tier: T3
          url: https://www.olshan.com/luxurymarketreport.php
        truth_map:
          acris: authoritative
          press: reported
        version: 1
    FeedScopeAnswers:
      properties:
        event_definition:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Event Definition
          description: What counts as an event, in plain words.
        geography:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Geography
          description: Geographic/filter bound ('UES ZIPs', 'US healthcare').
        freshness:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Freshness
          description: How fresh the feed must be ('daily', 'within a week').
      additionalProperties: false
      type: object
      title: FeedScopeAnswers
      description: 'The short intake scoping form riding a feed request: what''s an EVENT, the geography/filter

        bound, and the freshness expectation -- each in the user''s plain words (the concierge compiles

        them into the FeedSpec''s ratified scope). Unknown keys are rejected (forbid) so a typo''d answer

        can never silently vanish from the research brief.'
      example:
        event_definition: A recorded transaction, permit, or violation on a tracked building
        freshness: daily
        geography: ZIPs 10021/10028/10065/10075/10128
    FieldRole:
      type: string
      enum:
      - title
      - entity
      - timestamp
      - identity
      - quantifier
      - location
      - url
      - detail
      - status
      title: FieldRole
      description: 'ADVISORY semantic role (non-unique): rendering/UX hints, never branched on by the engine.'
    FeedBudget:
      properties:
        max_items_per_source_backfill:
          type: integer
          maximum: 1000.0
          minimum: 1.0
          title: Max Items Per Source Backfill
          description: 'Backfill: max records fetched per included source (clamped to <=1000).'
          default: 500
        max_items_per_tick:
          type: integer
          maximum: 100.0
          minimum: 1.0
          title: Max Items Per Tick
          description: 'Tick: max records fetched per included source (clamped to <=100).'
          default: 50
        max_llm_calls_backfill:
          type: integer
          maximum: 100.0
          minimum: 1.0
          title: Max Llm Calls Backfill
          description: 'Backfill: max LLM calls per run, extract + dedup combined (clamped to <=100).'
          default: 50
        max_llm_calls_tick:
          type: integer
          maximum: 50.0
          minimum: 1.0
          title: Max Llm Calls Tick
          description: 'Tick: max LLM calls per run, extract + dedup combined (clamped to <=50).'
          default: 5
      additionalProperties: false
      type: object
      title: FeedBudget
      description: 'The per-feed-run HARD CAPS the runtime enforces (create-a-feed v0 rule: a quote without a

        breaker is a liability). ``cost_band`` remains the human-readable prose quote; THIS is the

        machine-readable cap derived from it. Hitting any cap stops the run CLEANLY between stages

        (budget_hit + a human note on the feed_runs ledger row, exit 0, resumable) -- never a runaway

        bill. All fields carry sane defaults so an omitted budget still caps, and every field is CLAMPED

        into [1, its _BUDGET_CEILINGS ceiling] -- no spec can grant itself an unbounded budget.'
    FeedRequestProgress:
      properties:
        id:
          type: integer
          title: Id
        state:
          $ref: '#/components/schemas/FeedRequestState'
        trail:
          items:
            $ref: '#/components/schemas/FeedProgressEntry'
          type: array
          title: Trail
          description: The research probe-trail, oldest first.
        latest_run:
          anyOf:
          - $ref: '#/components/schemas/FeedRunStats'
          - type: 'null'
          description: The most recent feed_runs ledger row (building/live feeds only).
        tick_cadence_seconds:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tick Cadence Seconds
          description: 'The live feed''s tick cadence in seconds: clamp(min(include-source cadence_seconds), 900, 86400), default 1800. Null unless state=''live''.'
        next_tick_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Tick At
          description: 'Approximate next refresh (''expected by''): the latest run''s finished_at plus the tick cadence, ISO-8601 UTC. Null unless live with at least one run.'
        stalled:
          type: boolean
          title: Stalled
          description: 'True iff the request looks STUCK: state is researching/building AND its last RUN activity (max of updated_at and the latest RUN trail entry''s ts -- the human ''retry requested'' annotation does not count as run activity) is older than the resume threshold (ATLAS_FEED_RESUME_AFTER_SECONDS, default 45 min) -- the SAME staleness clock the retry route enforces, so a Retry button may be shown if and only if POST /feeds/requests/{id}/retry would be accepted. A retry therefore leaves stalled TRUE until the re-queued run itself resumes and writes activity.'
          default: false
        served_total:
          anyOf:
          - type: integer
          - type: 'null'
          title: Served Total
          description: TRUE cumulative count of this feed's SERVED (in-scope) signals in the feeds DB -- the number /feeds/{slug}/signals pages over. Null unless state='live' (or on any feeds-DB hiccup; freshness is supplementary and never 500s).
        newest_ingested_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Newest Ingested At
          description: ingested_at of the NEWEST served signal (when data last actually arrived -- distinct from the last tick, which may have found nothing new). Null unless live with at least one served row.
        armed:
          type: boolean
          title: Armed
          description: True iff this feed is ARMED -- live and watching with no matching events yet (state='live' AND served_total == 0). A feed reaches live-empty only via the proof-gated arming paths (the research dry-run sentinel, or a clean 0-event backfill whose extractor provably ran), so this cleanly identifies the armed set. Lets the UI render an honest 'armed, no matching events yet' state instead of an error. False for any non-live state, for a feed with served signals, and when served_total could not be computed (never claim 'watching' on missing evidence).
          default: false
      type: object
      required:
      - id
      - state
      title: FeedRequestProgress
      description: 'LIVE progress for a feed request so ``researching``/``building`` are not dead air: the research

        probe-``trail`` (append-only, persisted as the agent probes/proposes/dry-runs) plus, once the build

        starts, the ``latest_run`` ledger stats. Tenant-scoped like the request itself (a foreign/absent id

        404s).'
      example:
        armed: false
        id: 1
        stalled: false
        state: researching
        trail:
        - line: 'research started: Track UES co-ops'
          ts: '2026-07-08T00:00:01+00:00'
        - line: probed https://data.cityofnewyork.us/resource/bnx9-e6tj.json -> socrata 5 rows OK (machine-readable)
          ts: '2026-07-08T00:00:07+00:00'
    FeedEventSource:
      properties:
        observation_id:
          type: integer
          title: Observation Id
        source_key:
          type: string
          title: Source Key
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        reported_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Reported At
        ingested_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Ingested At
        content_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Hash
      type: object
      required:
      - observation_id
      - source_key
      title: FeedEventSource
      description: One observation supporting a canonical consumer-feed event revision.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Notyfi API key: `Authorization: Bearer notyfi_mk_...`'
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: Notyfi API key as X-Api-Key.
